@font-face {
  font-family: "Poppins";
  font-style: regular;
  font-weight: 400;
  src: local("Poppins"), url(/public/fonts/Poppins-Regular.ttf) format("ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: light;
  font-weight: 300;
  src: local("Poppins"), url(/public/fonts/Poppins-Light.ttf) format("ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: bold;
  font-weight: 700;
  src: local("Poppins"), url(/public/fonts/Poppins-Bold.ttf) format("ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 400 14px Poppins;
}

a {
  color: inherit;
  text-decoration: inherit;
}
